<p id="notice"><%= notice %></p>

<p>
  <strong>Sensor 1:</strong>
  <%= @sensor_datum.sensor_1 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 2:</strong>
  <%= @sensor_datum.sensor_2 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 3:</strong>
  <%= @sensor_datum.sensor_3 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 4:</strong>
  <%= @sensor_datum.sensor_4 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 5:</strong>
  <%= @sensor_datum.sensor_5 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 6:</strong>
  <%= @sensor_datum.sensor_6 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 7:</strong>
  <%= @sensor_datum.sensor_7 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 8:</strong>
  <%= @sensor_datum.sensor_8 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 9:</strong>
  <%= @sensor_datum.sensor_9 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 10:</strong>
  <%= @sensor_datum.sensor_10 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 11:</strong>
  <%= @sensor_datum.sensor_11 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 12:</strong>
  <%= @sensor_datum.sensor_12 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 13:</strong>
  <%= @sensor_datum.sensor_13 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 14:</strong>
  <%= @sensor_datum.sensor_14 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 15:</strong>
  <%= @sensor_datum.sensor_15 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 16:</strong>
  <%= @sensor_datum.sensor_16 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 17:</strong>
  <%= @sensor_datum.sensor_17 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 18:</strong>
  <%= @sensor_datum.sensor_18 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 19:</strong>
  <%= @sensor_datum.sensor_19 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 20:</strong>
  <%= @sensor_datum.sensor_20 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 21:</strong>
  <%= @sensor_datum.sensor_21 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 22:</strong>
  <%= @sensor_datum.sensor_22 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 23:</strong>
  <%= @sensor_datum.sensor_23 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 24:</strong>
  <%= @sensor_datum.sensor_24 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 25:</strong>
  <%= @sensor_datum.sensor_25 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 26:</strong>
  <%= @sensor_datum.sensor_26 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 27:</strong>
  <%= @sensor_datum.sensor_27 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 28:</strong>
  <%= @sensor_datum.sensor_28 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 29:</strong>
  <%= @sensor_datum.sensor_29 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 30:</strong>
  <%= @sensor_datum.sensor_30 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 31:</strong>
  <%= @sensor_datum.sensor_31 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 32:</strong>
  <%= @sensor_datum.sensor_32 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 33:</strong>
  <%= @sensor_datum.sensor_33 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 34:</strong>
  <%= @sensor_datum.sensor_34 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 35:</strong>
  <%= @sensor_datum.sensor_35 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 36:</strong>
  <%= @sensor_datum.sensor_36 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 37:</strong>
  <%= @sensor_datum.sensor_37 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 38:</strong>
  <%= @sensor_datum.sensor_38 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 39:</strong>
  <%= @sensor_datum.sensor_39 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 40:</strong>
  <%= @sensor_datum.sensor_40 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 41:</strong>
  <%= @sensor_datum.sensor_41 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 42:</strong>
  <%= @sensor_datum.sensor_42 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 43:</strong>
  <%= @sensor_datum.sensor_43 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 44:</strong>
  <%= @sensor_datum.sensor_44 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 45:</strong>
  <%= @sensor_datum.sensor_45 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 46:</strong>
  <%= @sensor_datum.sensor_46 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 47:</strong>
  <%= @sensor_datum.sensor_47 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 48:</strong>
  <%= @sensor_datum.sensor_48 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 49:</strong>
  <%= @sensor_datum.sensor_49 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 50:</strong>
  <%= @sensor_datum.sensor_50 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 51:</strong>
  <%= @sensor_datum.sensor_51 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 52:</strong>
  <%= @sensor_datum.sensor_52 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 53:</strong>
  <%= @sensor_datum.sensor_53 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 54:</strong>
  <%= @sensor_datum.sensor_54 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 55:</strong>
  <%= @sensor_datum.sensor_55 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 56:</strong>
  <%= @sensor_datum.sensor_56 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 57:</strong>
  <%= @sensor_datum.sensor_57 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 58:</strong>
  <%= @sensor_datum.sensor_58 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 59:</strong>
  <%= @sensor_datum.sensor_59 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 60:</strong>
  <%= @sensor_datum.sensor_60 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 61:</strong>
  <%= @sensor_datum.sensor_61 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 62:</strong>
  <%= @sensor_datum.sensor_62 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 63:</strong>
  <%= @sensor_datum.sensor_63 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 64:</strong>
  <%= @sensor_datum.sensor_64 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 65:</strong>
  <%= @sensor_datum.sensor_65 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 66:</strong>
  <%= @sensor_datum.sensor_66 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 67:</strong>
  <%= @sensor_datum.sensor_67 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 68:</strong>
  <%= @sensor_datum.sensor_68 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 69:</strong>
  <%= @sensor_datum.sensor_69 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 70:</strong>
  <%= @sensor_datum.sensor_70 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 71:</strong>
  <%= @sensor_datum.sensor_71 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 72:</strong>
  <%= @sensor_datum.sensor_72 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 73:</strong>
  <%= @sensor_datum.sensor_73 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 74:</strong>
  <%= @sensor_datum.sensor_74 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 75:</strong>
  <%= @sensor_datum.sensor_75 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 76:</strong>
  <%= @sensor_datum.sensor_76 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 77:</strong>
  <%= @sensor_datum.sensor_77 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 78:</strong>
  <%= @sensor_datum.sensor_78 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 79:</strong>
  <%= @sensor_datum.sensor_79 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 80:</strong>
  <%= @sensor_datum.sensor_80 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 81:</strong>
  <%= @sensor_datum.sensor_81 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 82:</strong>
  <%= @sensor_datum.sensor_82 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 83:</strong>
  <%= @sensor_datum.sensor_83 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 84:</strong>
  <%= @sensor_datum.sensor_84 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 85:</strong>
  <%= @sensor_datum.sensor_85 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 86:</strong>
  <%= @sensor_datum.sensor_86 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 87:</strong>
  <%= @sensor_datum.sensor_87 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 88:</strong>
  <%= @sensor_datum.sensor_88 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 89:</strong>
  <%= @sensor_datum.sensor_89 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 90:</strong>
  <%= @sensor_datum.sensor_90 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 91:</strong>
  <%= @sensor_datum.sensor_91 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 92:</strong>
  <%= @sensor_datum.sensor_92 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 93:</strong>
  <%= @sensor_datum.sensor_93 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 94:</strong>
  <%= @sensor_datum.sensor_94 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 95:</strong>
  <%= @sensor_datum.sensor_95 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 96:</strong>
  <%= @sensor_datum.sensor_96 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 97:</strong>
  <%= @sensor_datum.sensor_97 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 98:</strong>
  <%= @sensor_datum.sensor_98 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 99:</strong>
  <%= @sensor_datum.sensor_99 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<p>
  <strong>Sensor 100:</strong>
  <%= @sensor_datum.sensor_100 %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sensor_datum.decimal %>
</p>

<%= link_to 'Edit', edit_sensor_datum_path(@sensor_datum) %> |
<%= link_to 'Back', sensor_data_path %>
