<style media="screen">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
</style>
<% if notice %>
<div class="alert alert-warning" role="alert">
  <%= notice %>
</div>
<% end %>


<div class="text-center" style="margin: auto; padding: 50px;" >
  <h1>Login</h1>
  <%= form_tag sessions_path, {class: 'form-signin'} do |form| %>
    <div class="field">
      <%= email_field_tag :email, "", class: 'form-control', placeholder: 'email' %>
    </div>
    <div class="field">
      <%= password_field_tag :password,"", class: 'form-control',placeholder: 'password' %>
    </div>
    <div class="actions">
      <%= submit_tag "Login", class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>
</div>
